body {
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 2px;
  margin-bottom: 0px;
}


/* Mobile phone frame */
.phone-wrapper {
  width: 303px;
  /* iPhone screen width */
  height: 92vh;
  /* iPhone screen height */
  background:  #0E061B;
  border: 3px solid #111;
  border-radius: 23px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  margin: 40px auto;
}

svg {
  margin-left: 4px;
  position: relative;
}

.forgot-container {
  text-decoration: none;
  color: white;
  display: flex;
  margin-bottom: 0px;
  font-weight: 600;
  margin-left: 5px;
  justify-content: center;
  position: relative;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.forgot-container svg {
  display: flex;
  margin-right: 25px;
  color: white;
  margin-left: -60px;
  margin-top: 20px;

}

.intro {
  margin-top: 40px;
  margin-bottom: 100px;
  color: rgb(143, 140, 140);
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 14px;
}

.label {
  text-align: left;
  color: white;
  margin-left: 122px;
  padding-bottom: 7px;
}

input {
  border-radius: 10px;
  padding: 15px;
  width: 250px;
  border: 1px solid #3E2C59;
  background-color: #2B1F3A;
  color: #dfdee1;
  margin-left: 10px;
  margin-bottom: 30px;
  margin-top: 10px;
}

input[type="email"]:focus {
  outline: none;
  border: none;
}

input::placeholder {
  color: gray;
}

.button {
  border-radius: 10px;
  padding-bottom: 29px;
  padding-top: 15px;
  width: 230px;
  border: none;
  height: 20px;
  margin-left: 32px;
  margin-bottom: 140px;
  background-color: #5a12ec;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  color: white;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button:hover {
  transform: translateY(-6px);
  box-shadow: 5px 8px 20px #5a12ec;
}

.send-btn {
  color: rgb(255, 255, 255);
  text-decoration: none;

}

.reset-link {
  text-decoration: underline;
  color: rgb(104, 102, 102);
  margin-left: 93px;
}

.reset-link:hover {
  color: rgb(74, 73, 73);
}

.class {
  width: 90px;
  margin-left: 85px;
}